<html>
    <head>
        <title>Make a Post</title>
    </head>
    <body>
        Share with these groups: <br>
        <form action="/chooseGroups?pID={{pID}}", method='POST'>
            {% for line in group_list %}
                <input type="checkbox" name="{{line.groupName}}" value="{{line.groupCreator}}">
                    {{line.groupName}} created by {{line.groupCreator}}
                </input><br>
            {% endfor %}
            <input type="submit" value="Confirm"/>
        </form>
    </body> 
</html>