<html>
    <head>
        <title>Make a Friend Group</title>
    </head>
    <body>
        <form action="/makeFriendGroupAuth" method="POST">
            <input type="text" name="groupName" placeholder="New Group Name" required/><br>
            <input type="text" name="description" placeholder="Description..."/><br><br>
            Select followers:<br>
            {% for line in friend_list %}
                <input type="checkbox" name="follower" value="{{line.follower}}">
                    {{line.follower}}
                </input><br>
            {% endfor %}
            
            <input type="submit" value="Create"/><br>
            
            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}} </p>
            {% endif %}
        </form>
        <a href="/home">Cancel</a>
    </body>
</html>